<!DOCTYPE html>
<html lang="en"
      layout:decorate="template"
      xmlns:layout="http://www.nz.net.ultraq.thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ajouter un Produit</title>
    <link rel="stylesheet" href="webjars/bootstrap/5.3.3/css/bootstrap.min.css">
</head>
<body>
<div layout:fragment="content" class="container mt-4">
    <div class="card shadow">
        <div class="card-header bg-primary text-white text-center">
            <h2>Ajouter un Produit</h2>
        </div>
        <div class="card-body">
            <form method="post" th:action="@{/product-create}" class="mx-auto w-50" th:object="${product}">
                <div class="mb-3">
                    <label for="ref" class="form-label">Référence</label>
                    <input type="text" id="ref" th:field="*{ref}" class="form-control" placeholder="Référence du produit">
                    <p th:if="${#fields.hasErrors('ref')}" class="text-danger" th:errors="*{ref}"></p>
                </div>
                <div class="mb-3">
                    <label for="name" class="form-label">Nom</label>
                    <input type="text" id="name" th:field="*{name}" class="form-control" placeholder="Nom du produit">
                    <p th:if="${#fields.hasErrors('name')}" class="text-danger" th:errors="*{name}"></p>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-success">Enregistrer</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>
